<div class="container" layout:fragment="summary">
    <div>
        <h2>Klantgegevens</h2>
        
        <div>
            <h4>Persoonlijke gegevens</h4>
            
            <div> 
                <p th:text="${client.BSN}"/>
            </div>
            
            <div> 
                <p th:text="${client.FirstName} + '' + ${client.LastName}"/>
            </div>
        </div>
        
        <div>
            <h4>Woongegevens</h4>
            
            <div> 
                <p th:text="${client.Address}"/>
            </div>
            
            <div> 
                <p th:text="${client.City}"/>
            </div>
            
            <div> 
                <p th:text="${client.Postalcode}"/>
            </div>
        </div>
        
        
        <div>
            <h4>Bankgegevens</h4>
            
            <div> 
                <p th:text="${client.IBAN}"/>
            </div>
            
            <div> 
                <p th:text="${client.Incasso} ? 'Ja' : 'Nee'" />
            </div>
        </div>
        
        <div>
            <h4>Contactgegevens</h4>
            
            <div> 
                <p th:text="${client.EmailAddress}"/>
            </div>
            
            <div> 
                <p th:text="${client.TelephoneNumber}"/>
            </div>
        </div>
    </div>
</div>