<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<root>    
    <bean name="ClientRepository" class="nl.avans.C3.DataStorage.ClientRepository"/>
    
    <bean name="ClientService" class="nl.avans.C3.BusinessLogic.ClientService">
        <property name="ClientRepository" ref="ClientRepository"></property>
    </bean>
</root>
