<html>

<body>
    <a th:href="@{/client/create}">Cliënt toevoegen</a>
    <div th:if="${info}">
        <h2 th:text="${info}"/>
    </div>
    
    <br/>
    <br/>
    
    <form id="submitForm" action="#" th:action="@{/clients}" th:object="${SearchQuery}" method="post">
        <select>
         <option th:each="searchOption : ${searchOptions}" 
              th:value="${SearchQuery.searchOption}" 
              th:text="${searchOption}">Wireframe</option>
        </select>

        <input type="text" class="form-control" id="searchquery" th:field="*{SearchQuery}"/>
        <button type="submit" class="btn btn-primary" name="search">Zoeken</button>
    </form>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Woonplaats</th>
            <th>Automatische incasso</th>
            <th>Emailadres</th>
            <th>Telefoonnummer</th>
            <th>Handelingen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${clients.empty}">
            <td colspan="4">Er bestaan nog geen cliënten</td>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.FirstName}">1</td>
            <td th:text="${client.LastName}"/>
            <td th:text="${client.City}"/>
            <td th:text="${client.Incasso} ? 'Ja' : 'Nee'"/>
            <td th:text="${client.EmailAddress}"/>
            <td th:text="${client.TelephoneNumber}"/>
            <td><a th:href="@{/client/viewclient/{BSN}(BSN=${client.BSN})}" th:text="Bekijken"/> <a th:href="@{/client/edit/{BSN}(BSN=${client.BSN})}" th:text="Bewerken"/> <a th:href="@{/client/delete/{BSN}(BSN=${client.BSN})}" th:text="Verwijderen"/></td>
        </tr>
        </tbody>
    </table>
    
    <!--<p th:text="${client.BSN}" />
    <p th:text="${client.FirstName}" />
    <p th:text="${client.LastName}" />
    <p th:text="${client.City}" />
    <p th:text="${client.Address}" />
    <p th:text="${client.IBAN}" />
    <p th:text="${client.Incasso}" />
    <p th:text="${client.EmailAddress}" />
    <p th:text="${client.TelephoneNumber}" /> 
    <p th:text="${client.PostalCode}" />-->
</body>

</html>